<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.11.3.min.js" %>
  <!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>-->
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <style>

    /* Blue color is: #0099FF;
    *  Green color is: #00EC74;
    *  Blue yes/unsure/no color is: #32A5E9;
    *  Light Green: #C1F38D;
    */


    #home_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    #interests_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    #search_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    #logout_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    h1 {
      font-family: 'Open Sans';
      font-size: 25px;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      line-height: 26.4px;
      color: #808080;
    }

    h2 {
      font-family: 'Open Sans';
      font-size: 20px;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      line-height: 26.4px;
      color: #808080;
    }

    h3 {
      font-family: 'Open Sans';
      font-size: 20px;
      text-transform: lowercase;
      font-style: normal;
      font-weight: 500;
      line-height: 26.4px;
      text-align: center;
      color: #808080;
    }

    p {
      font-family: 'Open Sans';
      font-size: 16px;
      text-transform: lowercase;
      font-style: normal;
      font-weight: 500;
      line-height: 26.4px;
      color: #808080;    
    }

    img {
      border: 2px solid gray;
    }

  </style>


</head>
<body>

<script>

$(document).ready(function(){
  //
});


</script>


<!-- Homepage -->
<div data-role="page">

    <!--Navigation Bar-->
  <div data-role="navbar">
    <ul>
      <li><a href="homepage.html" class="ui-btn ui-icon-home ui-btn-icon-top ui-nodisc-icon" id = "home_icon"> </a></li>
      <li><a href="/professions/quiz" class="ui-btn ui-icon-heart ui-btn-icon-top ui-nodisc-icon" id = "interests_icon"> </a></li>
      <li><a href="search.html" class="ui-btn ui-icon-search ui-btn-icon-top ui-nodisc-icon" id = "search_icon"> </a></li>
      <li><a href="index.html" class="ui-btn ui-icon-back ui-btn-icon-top ui-nodisc-icon" id = "logout_icon"> </a></li>
    </ul>
  </div>

  <br>
  <br>

  <div role="main" class="ui-content">
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <%= image_tag("sage.png", size: "150x150") %>
      </div>
      <div class="ui-block-b">
        <h1> Sage Isabella </h1>
        <!--<h2> Description/Position </h2>-->
      </div>
    </div><!-- /grid-a -->
  </div>

  <div class="ui-grid-solo">
    <h1><center>Updates</center></h1>
  </div>

</div>

  
</body>
</html>













