<h1> Users </h1>
<div> Before </div>
<% if (@all_users == nil) then %>
	<h1>Currently no users </h1>
<% else %>
	<%= "@all_users isn't nil" %>
	<% for user in @all_users %>
		<%= "in the for loop" %>
		<h2> Hello <%= user.first_name + " " + user.last_name %> 
	<% end %>
<% end %>


<div> After </div>