// Pretty intense starter code, huh?
#include <iostream>
#include <sstream>
#include <fstream>
#include "vector"
#include "string.h"
#include "map"
#include "queue"
#include "set"
using namespace std;

char getNextLetter(set<char> &lettersGuessed) {
    char nextLetter = 0;
    while (true) {
        while (true) {
            cout << "Guess a new letter: " << endl;
            cin >> nextLetter;
            if (!isalpha(nextLetter)) {
                cout << "Guess an actual letter, you poophead." << endl;
                break;
            }
            if (lettersGuessed.count(nextLetter)) {
                cout << "You already guessed that letter." << endl;
            } else {
                lettersGuessed.insert(nextLetter);
                return nextLetter;
            }
        }
    }
    return nextLetter;
}