<% if (@all_professions == nil) then %>
	<h1>Professions: </h1>
<% else %>
	<h1> Professions: </h1>
	<% for profession in @all_professions %>
		<div> <%= profession.title %> </div>
	<% end %>
<% end %>


