/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  #top-header {
      background-color: #0099FF;
      border-color: #0099FF;
      color: white;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    #login-button {
      color: white;
      background-color: #0099FF;
      text-shadow: none;
      font-family: 'Open Sans';
    }

    #new-account-button {
      color: white;
      background-color: #0099FF;
      text-shadow: none;
      font-family: 'Open Sans';
    }

    .ui-navbar li a {
        width: 100% !important; /* you need only this */
        height: 50px !important; /* for demo only */
    }

  #home_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    #interests_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    #search_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    #logout_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    #intro_title {
      color:white;
      font-size: 25px;
    }

    h1 {
      font-family: 'Open Sans';
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      line-height: 26.4px;
      color: #808080;
      line-height: 110%;
    }

    h2 {
      font-family: 'Open Sans';
      font-size: 20px;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      line-height: 26.4px;
      color: #808080;
      line-height: 110%;
    }

    h3 {
      font-family: 'Open Sans';
      font-size: 15px;
      text-transform: lowercase;
      font-style: normal;
      font-weight: 500;
      line-height: 26.4px;
      text-align: center;
      color: #808080;
      line-height: 110%;
    }

    p {
      font-family: 'Open Sans';
      font-size: 16px;
      text-transform: lowercase;
      font-style: normal;
      font-weight: 500;
      line-height: 26.4px;
      color: #808080; 
      line-height: 110%;   
    }

    img {
      border: 2px solid gray;
    }

    #custom-footer .ui-block-a {
        width: 20% !important;
    }

    #custom-footer .ui-block-b {
        width: 80% !important;    
    }


     #quizNo {
      background-color: #32A5E9;
      border-color: #32A5E9;
      color: white;
      font-family: 'Open Sans';
      text-shadow: none;
    }

    #quizUnsure {
      background-color: #32A5E9;
      border-color: #32A5E9;
      color: white;
      font-family: 'Open Sans';
      text-shadow: none;
    }

    #quizYes {
      background-color: #32A5E9;
      border-color: #32A5E9;
      color: white;
      font-family: 'Open Sans';
      text-shadow: none;
    }

    #filter_panel {
      background-color: #E4E4E4;
    }



    #add_review {
      color: white;
      background-color: #0099FF;
      text-shadow: none;
      font-family: 'Open Sans';
      width: 100px;
      border-radius: 5px;
    }

    #add_program {
      color: white;
      background-color: #0099FF;
      text-shadow: none;
      font-family: 'Open Sans';
      width: 200px;
      border-radius: 5px;
    }

    #profile_picture {
      border-radius: 50%;
      border: 0;
      box-shadow: 5px 5px 5px #B0B0B0;
    }

    #quiz_submit {
      background-color: #0099FF;
    }

    .program_image {
      border:0;
      width: 100px;
    }

    .ui-panel-inner { 
      padding: 5 !important 
    }

    .region_selector {
      font-family: 'Open Sans';
      font-size: 13px;
      text-transform: uppercase;
    }

    .profession_selector {
      font-family: 'Open Sans';
      font-size: 13px;
      text-transform: uppercase;
    }

    #submit_button {
      color: red;
      background-color: #0099FF;
      font-family: 'Open Sans';
    }

    .review_image {
      border: 0;
    }

    .review_comment {
      width: 90%;
      margin: 0 auto;
    }

    .review_post_button {
      width: 150px;
      margin: 0 auto;
    }

    .program_description {
      width: 90%;
    }

    .my_professions {
      padding-bottom: 1px;
      border-bottom: 2px solid #EAEAEA;
    }

    .my_updates {
      padding-bottom: 1px;
      border-bottom: 2px solid #EAEAEA;
    }

    .homepage_content {
      background-color: white;
      border: 2px solid #EAEAEA;
      width: 90%;
      border-radius: 25px;
      margin: 0 auto;
      padding: 5px;
      
    }














