/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  

    #login-button {
      color: white;
      background-color: #0099FF;
      text-shadow: none;
      font-family: 'Open Sans';
    }

    #new-account-button {
      color: white;
      background-color: #0099FF;
      text-shadow: none;
      font-family: 'Open Sans';
    }

    .ui-navbar li a i {
        width: 100% !important; /* you need only this */
        height: 25px !important; /* for demo only */
        padding-top: 10px;
    }

  #home_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    #interests_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    #search_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    #logout_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }



    h1 {
      font-family: 'Open Sans';
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      line-height: 26.4px;
      color: #808080;
      line-height: 110%;
    }

    h2 {
      font-family: 'Open Sans';
      font-size: 20px;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      line-height: 26.4px;
      color: #808080;
      line-height: 110%;
    }

    h3 {
      font-family: 'Open Sans';
      font-size: 15px;
      text-transform: lowercase;
      font-style: normal;
      font-weight: 500;
      line-height: 26.4px;
      text-align: center;
      color: #808080;
      line-height: 110%;
    }

    p {
      font-family: 'Open Sans';
      font-size: 16px;
      text-transform: lowercase;
      font-style: normal;
      font-weight: 500;
      line-height: 26.4px;
      color: #808080; 
      line-height: 115%;   
    }

    img {
      border: 2px solid gray;
    }

    #custom-footer .ui-block-a {
        width: 20% !important;
    }

    #custom-footer .ui-block-b {
        width: 80% !important;    
    }


     #quizNo {
      background-color: #32A5E9;
      border-color: #32A5E9;
      color: white;
      font-family: 'Open Sans';
      text-shadow: none;
    }

    #quizUnsure {
      background-color: #32A5E9;
      border-color: #32A5E9;
      color: white;
      font-family: 'Open Sans';
      text-shadow: none;
    }

    #quizYes {
      background-color: #32A5E9;
      border-color: #32A5E9;
      color: white;
      font-family: 'Open Sans';
      text-shadow: none;
    }

    #filter_panel {
      background-color: #E4E4E4;
    }

    #add_review {
      color: white;
      background-color: #0099FF;
      text-shadow: none;
      font-family: 'Open Sans';
      width: 100px;
      border-radius: 5px;
    }

    #add_program {
      color: white;
      background-color: #0099FF;
      text-shadow: none;
      font-family: 'Open Sans';
      width: 200px;
      border-radius: 5px;
      margin-bottom: 50px;
    }

    #profile_picture {
      border-radius: 50%;
      border: 0;
      box-shadow: 5px 5px 5px #B0B0B0;
    }

    .ui-panel-inner { 
      padding: 5 !important 
    }

    .region_selector {
      font-family: 'Open Sans';
      font-size: 13px;
      text-transform: uppercase;
    }

    .profession_selector {
      font-family: 'Open Sans';
      font-size: 13px;
      text-transform: uppercase;
    }

    #submit_button {
      color: red;
      background-color: #0099FF;
      font-family: 'Open Sans';
    }

    .review_image {
      border: 0;
      width: 250px;
      height: auto;
    }

    .review_comment {
      width: 90%;
      margin: 0 auto;
    }

    .review_post_button {
      width: 150px;
      margin: 0 auto;
    }

    .program_description {
      width: 90%;
    }


    

    /*#information {
      background-color: #F4F4F4;
      border-color: #D5D5D5;
      border-style: solid;
      border-width: 2px;
      border-radius: 5px;
      padding: 15px;
    }
*/


    .program-buttons{
      border: none;
      background-color: #F4F4F4;
      width: 99%;
      border-radius: 3px;
      margin: 0 auto;
      display: block;
      box-shadow: 0.5px 0.5px 1px;
      margin-bottom: 1px;
      border-width: 1px;
      border-style: solid;
      border-color: #D5D5D5;
    }

    .button-link{
      text-decoration: none;
    }

    h1.intro_title{
      display: inline;
    }

    #logo {
      border: none;
      display: inline;
      margin-top: 20px;
/*      margin-left: 38%;
*/    }

    .intro_title {
      color:white;
      font-size: 45px;
      margin: 0 auto;
    }

    #top-header {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
      float: right;
      width: 100%;
      height: 125px;
    }

    #header-content {
      text-align: center;
    }

    #login-submit {
      width: 50%;
      margin: 0 auto;
    }

    #quiz-submit{
      width: 250px;
      margin: 0 auto;
    }

    .my-professions-content{
      background-color: #F4F4F4;
      border-radius: 10px;
      padding: 15px;
      border-style: solid;
      border-width: 3px;
      border-color: #D5D5D5;
      width: 90%;
      margin: 0 auto;
    }

    #homepage_content{
      background-color: #F1F1F1;
      width: 90%;
      margin: 0 auto;
      border-radius: 10px;
    }


   #find-more-button{
    width: 250px;
   }

   #retake-profession-quiz{
    width: 250px;
   }

   .myprofession_image{
      border: 0;
      width: 500px; /* you can use % */
      height: auto;
   }

   .all-profession-info{
      background-color: #F4F4F4;
      border-radius: 5px;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 10px;
      padding: 15px;
      border-style: solid;
      border-width: 2px;
      border-color: #D5D5D5; 
   }

   .all-profession-title{
    text-align: center;
   }

   .all-professions-image{
    text-align: center; 
   }

   .prof_image{
    border:0;
    width: 300px;
    height: auto;
   }

   .all-professions-description{
    text-align: center;
   }

   #add-to-professions{
    width: 250px;
    margin: 0 auto;
   }

   #new-account-content{
    margin: 0 auto;
    width: 70%;
    text-align: center; 
   }

   #find-professions-btn{
      color: white;
      background-color: #0099FF;
      text-shadow: none;
      font-family: 'Open Sans';
      width: 20%;
      border-radius: 5px;
   }

   #retake-professions-btn{
      color: white;
      background-color: #0099FF;
      text-shadow: none;
      font-family: 'Open Sans';
      width: 20%;
      border-radius: 5px;
   }
/*
      .program_image{
    border: none;
    width: 250px;
    height: auto;
   }*/

   #img-alone{
    border: none;
    width: 250px;
    height: auto;
   }

   .timestamp{
    font-size: 10px;
    text-align: right;
    margin-right: 30px;
   }

   .row {
    background-color: #F4F4F4;
    width: 90%;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #D5D5D5;
    text-align: left;
    padding-left: 15px;
   }

   #reviews-tag{
    text-align: center; 
    margin-top: 50px;
   }

   .review-review{
    font-size: 18px;
   }

   .review-name {
    text-align: right;
    margin-right: 30px;
   }

   .program-details{
    background-color: #F4F4F4;
    width: 90%;
    border-radius: 10px;
    text-align: left;
    border-style: solid;
    border-width: 2px;
    border-color: #D5D5D5;
   }

   .program-price{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #D5D5D5;
   }

   .program-price{
    padding-left: 15px;
    padding-bottom: 1px;
   }

   table {
    color: black;
    background: #fff;
    border: 1px solid #b4b4b4;
    font: bold 17px helvetica;
    padding: 0;
    margin-top:10px;
    width: 90%;
    -webkit-border-radius: 8px;
  }
       
  table tr td {
      color: #666;
      border-bottom: 1px solid #b4b4b4;
      border-right: 1px solid #b4b4b4;
      padding: 10px 10px 10px 10px;
      background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
  }











