<% person = User.find_by_id(session[:user_id]) %>
  <% if (person == nil) then %>
    
  <% else %>

    <!--Header: Contains the navigation bar -->
    <div data-role="header">
      <div data-role="navbar">
        <ul>

          <li>
            <a href="/users/homepage" class="ui-btn" id = "home_icon"> 
              <i class="fa fa-home fa-inverse fa-lg"></i>
            </a>
          </li>
          <% if (person.quiz_taken == false) %>
            <li>
              <a href="/professions/quiz" class="ui-btn" id = "interests_icon">
                <i class="fa fa-suitcase fa-inverse fa-lg"></i>
              </a>
            </li>
          <% else %>
            <li>
              <a href="/professions/myprofessions" class="ui-btn" id = "interests_icon">
                <i class="fa fa-suitcase fa-inverse fa-lg"></i>
              </a>
            </li>
          <%end%>

          <li>
            <a href="/programs/search" class="ui-btn" id = "search_icon">
              <i class="fa fa-search fa-inverse fa-lg"></i>
            </a>
          </li>

          <li>
            <a href="/users/logout" class="ui-btn" id = "logout_icon">
              <i class="fa fa-sign-out fa-inverse fa-lg"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>
<% end %>